body {
font-family: 'Times New Roman', Times, serif;

}


.firstpage { 
    background-color: #1f2937;
    color: white;
}

nav {

  display: flex;
  flex-direction: row;
  
}

.headerlogo {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: -54px;
  padding: 15px;
}

.navlink {
  font-size: 18px;
  color: rgb(229, 231, 235);
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}


.headerlinks {
    margin-left: 646px;
    padding: 30px;
}
/*
.headerlink  a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
  }
*/
  .secondcontainer {
    padding: 27px;
    margin: 0px 129px;
    display: flex;
    flex-direction: row;
    padding-bottom: 88px;
  }


  .secondcontainer img {
      width: 300px;
      margin-left: 375px;
      margin: top 5px;
  }


  .button1 {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    color:#ffffff;
    transition: all 0.5s;
    cursor: pointer;
  }

  .button1:hover {
    background-color: #4CAF50; 
    color: white;
  }

  .infotab {
    text-align: center;
    margin: 50px auto;
    font-size: 36px;
    font-weight: bolder;
}
  
  
.image {
    position: relative;
    left: 600px;
    bottom: 200px;
}

.secondpage {
    margin-left: 35%;
}

.row {
    display: flex;
    margin-left: 20%;
  }
  
.gallery {
    padding: 8px;
   
  }

  div.gallery img {
    border: 10px;
    border-color: purple;
    border-radius: 10px;
  }

.testimony {
    background-color: #e5e7eb;
    margin: 150px;
    padding: 70px 190px;
}

.testimony p {

  font-size: 36px;
  font-weight: lighter;
  color: rgb(31, 41, 55);

}

#name {

  text-align: right;
  font-weight: bolder;
  font-size: 22px;
  padding: 0px 30px;

}
    
.thirdcontainer {
    background-color: #3882f6;
    width: 50%;
    margin-top: 50px;
    margin-left: 27%;
    color: white;
    padding-right: 50px;
}

.call {
    padding-left: 50px;
    padding-top: 30px;
    margin: 0px;
}


.button2 {
    margin-left: 80%;
    position: relative;
    bottom: 40px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 100px;

}

.end {
    background-color: black;
    color: white;
    text-align: center;
    padding: 36px;
    margin-top: 70px;
}
